$aab-lightgreen: #51e9cd;
$aab-green: #449991;
$aab-darkgreen: #213533;
$aab-yellow:#fbd880;
$aab-darkyellow: #ebad12;

$green: $aab-green;
$blue: $aab-darkgreen;
$orange: $aab-lightgreen;
$violet: $aab-darkyellow;
$pink: $aab-yellow;

$grey-darkest: #bababa;
$grey-dark: #cacaca;
$grey: #dadada;
$grey-light: #eee;
$grey-lightest: #fafafa;
$grey-even-darker: #d7d7d7;

$white: #fff;
$black: #000;
$grey-text: rgb(51, 51, 51);

$grey-alpha-03: rgba(255, 255, 255, 0.3);
